<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Registro de trabajo</h1>
<form action="#" th:action="@{/addWorkRegistry}" th:object="${workRegistry}" method="post">
    <div>
        <label for="auditDate">Fecha</label>
        <input type="text" th:field="*{auditDate}"  id="auditDate"/>
    </div>
    <div>
        <select name="contact" th:field="*{client}">
            <option value="">Seleccione el cliente:</option>
            <option th:each="clientList : ${clients}"
                    th:value="${clientList.getId()}"
                    th:text="${clientList.getName()}"></option>
        </select>
    </div>
    <div>
        <label for="area">Area</label>
        <input type="text" th:field="*{area}"  id="area"/>
    </div>
    <div>
        <select name="contact" th:field="*{auditor}">
            <option value="">Seleccione el auditor:</option>
            <option th:each="auditorList : ${auditors}"
                    th:value="${auditorList.getId()}"
                    th:text="${auditorList.getName()+''+auditorList.getLastName1()}"></option>
        </select>
    </div>
    <div>
        <input type="submit" value="add entry">
    </div>
</form>
<a href="/">Volver al menú principal</a>
</body>
</html>