<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Editar contacto</title>
</head>
<body>
<h1>Editar</h1>
<form action="#" th:action="@{/editContact/{id}(id=${id})}" th:object="${contactToEdit}" method="post">

    <label for="name">Nombre</label>
    <input type="text" th:field="*{name}"  id="name"/>

    <label for="lastName1">Primer apellido</label>
    <input type="text" th:field="*{lastName1}"  id="lastName1"/>

    <label for="lastName2">Segundo apellido</label>
    <input type="text" th:field="*{lastName2}"  id="lastName2"/>

    <label for="email">Correo electrónico</label>
    <input type="text" th:field="*{email}"  id="email"/>

    <label for="phoneNumber">Número de teléfono</label>
    <input type="text" th:field="*{phoneNumber}"  id="phoneNumber"/>

    <select name="client" th:field="*{client}">
        <option value="">Seleccione un cliente:</option>
        <option th:each="clientList : ${clientsAll}"
                th:value="${clientList.getId()}"
                th:text="${clientList.getName()}"></option>
    </select>

    <input type="submit" value="Guardar Cambios">

</form>
</body>
</html>