<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html" http-equiv="Content-Type">
    <title>TeLoAuditoYTeCobro</title>

</head>
<body>
<div>
    <h1>Bienvenidos a TeLoAuditoYTeCobro</h1>


    <a href="/addClient">Agregue un nuevo cliente</a> </br>
    <a href="/listClients">Lista de todos los clientes</a> </br>
    <a href="/listContacts">Lista de todos los contactos</a> </br>
    <a href="/addAuditor">Agregar auditor</a></br>
    <a href="/listAuditors">Listar Auditores</a></br>
    <a href="/addWorkRegistry">Registro de trabajo</a></br>
    <a href="/listWorkRegistries">Listar visitas de trabajo</a>
</div>


</body>
</html>