<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista de auditores</h1>
<ul>
  <div th:each="entry,status : ${auditor}">
    <li>
      <div>
        <p>Fecha de la auditoria:</p>
        <div class="tl-body">
          <p><span th:text="${entry.auditDate}">Fecha de la auditoría</span></p>
        </div>
        <p>Nombre del cliente:</p>
        <div class="tl-body">
          <ul th:each="cli: ${entry.client}">
            <li th:text="${cli.getName}"></li>
          </ul>
        </div>
        <p>Auditor:</p>
        <div class="tl-body">
          <ul th:each="cli: ${entry.auditor}">
            <li th:text="${cli.getName}"></li>
          </ul>
        </div>
        <p>Area:</p>
        <div class="tl-body">
          <p><span th:text="${entry.area}">Area</span></p>
        </div>
      </div>
    </li>
  </div>
</ul>
<a href="/">Volver al menú principal</a>
</body>
</html>